
.#{$component-name} {
    overflow: hidden;
    height: 100vh;
    @include vw-convert-pc(min-height, 500);
    background-color: black;
    &__wrapper {
        height: 100%;
    }
    &__item {
        overflow: hidden;
        position: relative;
        height: 100%;
    }
    .swiper-pagination {
        @include vw-convert-pc(right, 30);
        top: 50%;
        left: auto;
        bottom: auto;
        width: auto;
        transform: translateY(-50%);
        .swiper-pagination-bullet {
            overflow: visible;
            display: block;
            @include vw-convert-pc(width, 20);
            @include vw-convert-pc(height, 2);
            margin-left: auto;
            @include vw-convert-pc(padding, 5 0);
            background-color: transparent;
            border-radius: 0;
            &:before {
                display: block;
                width: 100%;
                height: 100%;
                background-color: $color-white;
                border-radius: 0;
                content: ''
            }
            &.swiper-pagination-bullet-active {
                opacity: 1;
                @include vw-convert-pc(width, 40);
                transform-origin: right;
                transition: width .5s ease-out;
            }
        }
    }
    &__btn {
        position: absolute;
        @include vw-convert-pc(right, 50);
        @include vw-convert-pc(bottom, 50);
        // z-index: 10;
        font-size: 0;
        .swiper-button-prev, .swiper-button-next {
            display: inline-block;
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            margin-top: 0;
            @include vw-convert-pc(width, 50);
            @include vw-convert-pc(height, 50);
            color: $color-white;
            vertical-align: top;
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                @include vw-font-size-pc(25);
                transform: translate(-50%, -50%);
            }
        }
    }
    .swiper-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        @include vw-convert-pc(height, 7);
        &:before {
            display: block;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: .3;
            content: '';
        }
        .slide_progress-bar {
            @include absolute-full;
            width: 0%;
            background-color: white;
            opacity: .2;
            content: '';
        }
    }
}