///********************///
///*     Path       *///
///********************///

$path-img: '../imgs/';
$path-font: '../../etc/fonts/';


///********************///
///*     Colors       *///
///********************///

$color-white: #fff;
$color-black: #000;
$color-default: #333;


///********************///
///*    Break Points  *///
///********************///

$screen-xsm: 375px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1360px;
$screen-xlg: 1600px;
$screen-xxlg: 1920px;
$screen-xxxlg: 2560px;


///********************///
///*       Fonts      *///
///********************///

$base-font-size: 14px;
$fjalla-one: 'FjallaOne', 'GowunDodum', sans-serif;
$roboto-thin: 'Roboto-Thin', 'GowunDodum', sans-serif;
$gowun-doduma: 'GowunDodum', sans-serif;